@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "döviz";
    ViewBag.Description = "döviz çevir";
    ViewBag.Keywords = "kur web";
}

<h2>Kur Çevir</h2>
<link href="~/Content/css/style.css" rel="stylesheet" />
    <hr />

        Dolar: @ViewData["dolar"]
        <hr />
        Euro: @ViewData["euro"]
        <hr />
        Sterling: @ViewData["sterling"]
        <hr />
                @*<div id="alan">
                    <br /><br />
                    <h2>--Dönüştür--</h2>
                    <p> Değeri giriniz: </p>
                    <p>

                        @Html.DropDownList("ListItem") &emsp;

        @Html.TextBox(" ") &emsp;
        @Html.DropDownList("ListItem")
        </p>
        <p>
            <input Id="btn1" name="button" type="submit" value="dönüş" onclick="toplam()" />
        </p>*@

    
 